.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 16px;
}
div,p {
    font-family: roboto;
    margin: 0px;
}
.video-thumbnail {
    width: 100%;
    margin: 0px;
}
.channel-profile-picture {
    width: 36px;
    height: 36px;
    border-radius: 200px;
    vertical-align: top;
    margin-top: 10px;
}
.title-and-views {
    font-size: 14px;
    vertical-align: middle;
    margin-top: 8px;
}
.gridman {
    display: grid;
    grid-template-columns: 15% 1fr;
}
.video-title {
    font-weight: bold;
    margin-bottom: 12px;
}
.channel-name,.views {
    margin-bottom: 3px;
    font-size: 12px;
    color: rgb(66, 66, 66);
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}
.left {
    margin-top: 10px;
    display: flex;
    height: 22px;
    margin-right: 100px;
    justify-content: space-between;
}
.hamburger-menu {
    margin-left: 16px;
    margin-right: 25px;
}
.middle {
    margin-top: -6px;
    margin-right: 70px;
    display: flex;
    height: 22px;
    margin-right: 100px;
    justify-content: space-between;
}
.searchbox {
    font-size: 17px;
    margin-top: 0px;
    width: 330px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 15px;
    border-width: 2px;
    border-color: rgba(73, 73, 73, 0.144);
    box-shadow: inset 0px 0px 5px rgba(204, 203, 203, 0.37);
    border-style: solid;
}
.searchbox::placeholder {
    font-size: 17px;
    font-family: roboto;
}
.search-button {
    height: 40px;
    width: 65px;
    border: 2px;
    border-color: rgba(73, 73, 73, 0.144);
    border-style: solid;
}
.search-logo {
    border: 0px;
    height: 25px;
}
.voice-search-button {
    height: 40px;
    width: 40px;
    border: 0px;
    border-radius: 50px;
    margin-left: 10px;
    padding: 0px;
    background-color: rgba(190, 189, 189, 0.205);
    
}
.voice-search-icon {
    border: 0px;
    height: 25px;
}
.right {
    width: 200px;
    background-color: aqua;
}
